<div class='row align-items-center justify-content-center'>

  <!--背景画像-->
  <div class='col-md-6'>
    <div class='backimage'></div>
  </div>

  <!--アプリ説明-->
  <div class='col-md-6'>
    <h4 class='text-center'>
      <strong>ようこそ、労働の救世神達が集うコミュニティへ</strong>
    </h4>

    <p class='text-center mt-5 mb-5'>
      あなたにはこれから「労働の救世神」となる旅を始めていただきます。<br>
      <br>
      やり方は簡単。<br>
      <br>
      「労働に関する悩みを抱えた人達を<strong>コメント</strong>で救ってあげること」<br>
      <br>
      救世方法はコメントのみ。<br>
      やさしく、時には想いやりをもって厳しく寄り添ってあげましょう。<br>
      <br>
      それがその人にとって大きな心の救いになるはずです。<br>
      <br>
      しかし、あなた自身が悩みを抱えていることもあることでしょう。<br>
      <br>
      そんな時は、あなた以外の素晴らしい救世神達に悩みを聞いてもらいましょう。<br>
      <br>
      労働は人生の大半を占めるもの。その分悩みも多くなりがち。<br>
      <br>
      だからこそ抱え込み過ぎず少しずつ発散しよう。<br>
      <br>
      <br>
      さあ、皆を救い、救われに行こう。<br>
    </p>

    <div class='text-center mx-auto mb-3'>
      <%= link_to "START", root_path, class: 'btn btn-warning btn-lg' %>
    </div>

  </div>

</div>
