<% if post_comment.comment_likes_by?(current_user) %>
  <p>
    <%= link_to post_post_comment_comment_likes_path(post, post_comment), method: :delete, remote: true do %>
      <i class="fa-solid fa-thumbs-up"></i><%= post_comment.comment_likes.count %>いいね
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to post_post_comment_comment_likes_path(post, post_comment), method: :post, remote: true do %>
      <i class="fa-regular fa-thumbs-up"></i><%= post_comment.comment_likes.count %>いいね
    <% end %>
  </p>
<% end %>