<div class='container mt-5'>

  <!--ページタイトル-->
  <div class='row justify-content-center mb-5'>
    <!--解決ステータスにより表示を条件分岐-->
    <h4><strong>コメント編集</strong></h4>
  </div>

  <!--コメント編集フォーム-->
  <div class='row justify-content-center mb-3'>
    <div class='col-md-8 text-center'>
      <%= form_with model: [@post, @post_comment], url: post_post_comment_path(@post, @post_comment), method: :patch do |f| %>
        <%= f.text_area :comment, :size =>"100x15", class: 'form-control' %>
        <%= f.submit "更新", class: 'btn btn-info mt-5' %>
      <% end %>
    </div>
  </div>

</div>