@use '~bootstrap/scss/bootstrap';



* {
   margin : 0;
   padding : 0;
   box-sizing: border-box;
 }

 body {
   background: #00d2ff;
   background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
   background: linear-gradient(to right, #928DAB, #00d2ff);
   text-decoration: none;
   color : white;
 }

 .profile_image {
   border-radius: 50%;
 }

 .preview_image {
   border-radius: 50%;
   width: 40%;
   height: 40%;
 }

 main {
   min-height: 100vh;
 }

 .backimage {
   background-image: url("../images/logo.jpg");
   height: 800px;
   background-size: cover;
   background-position: center;
 }

 .post-link {
   text-decoration: none;
   color: black;
   border-radius: 50px;
   transition:transform 0.3s;
   background-color: rgba(255, 255, 255, 0.3);
   backdrop-filter: blur(6px);
}

.post-link:hover {
  text-decoration: none;
  border: none;
  color: black;
  background-color: gray;
  transform:scale(1.1);
}

.page-title {
  color: white;
}

a {
  text-decoration: none;
}

.header {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
}

.footer {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  color: white;
}

.category-lists {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}