@use '~bootstrap/scss/bootstrap';

%background_color {
   background-color: rgba(255, 255, 255, 0.3);
   backdrop-filter: blur(6px);
}

* {
   margin : 0;
   padding : 0;
   box-sizing: border-box;
}

body {
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
  background: linear-gradient(to right, #928DAB, #00d2ff);
  text-decoration: none;
  color : white;
  z-index: 0;
  // position: relative;　flashメッセージのjsで設定したfadeOutmが反応しなくなるためコメントアウト
}

.profile_image {
  border-radius: 50%;
  background-color: white;
}

.active-rotate {
  transition:transform 0.3s;
  position: relative;
  z-index: 10;

  &:hover {
    transform: translateX(150px) rotate(360deg)
  }
}

.user-info {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 0;
}

.preview_image {
  border-radius: 50%;
  width: 40%;
  height: 40%;
}

main {
  min-height: 100vh;
}

.backimage {
  background-image: url("../images/logo.jpg");
  height: 800px;
  background-size: cover;
  background-position: center;
}

.link {
  color: white;

  &:hover {
    text-decoration: none;
  }
}

.post-link {
  text-decoration: none;
  color: black;
  border-radius: 50px;
  transition:transform 0.3s;
  @extend %background_color;

  &:hover {
    text-decoration: none;
    border: none;
    color: black;
    background-color: gray;
    transform:scale(1.1);
  }
}

.page-title {
  color: white;
}

.header {
  @extend %background_color;
}

.footer {
  @extend %background_color;
  color: white;
}

.category-lists {
  @extend %background_color;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;

  &:hover {
     border-radius: 15px;
  }
}

.introduction-text {
  display: none;
  @extend %background_color;
  border-radius: 50%;
  padding: 30px;
  color: white;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.category-body {
  display: none;
}

.other-search-body {
  display: none;
}

.btn-other {
  color: white;
  @extend %background_color;
}

.content-area {
  @extend %background_color;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.selects {
  position: absolute;
  right: 2%;
  bottom: 5%;
}

.ranking-card {
  @extend %background_color;
}

.post-body {
  @extend %background_color;
}

#flash-area {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

.show-info-area {
  display: none;
}

.good-btn {
  color: #f5f901;
}

#hm-icon,#sp-menu {
  display: none;
}


// レスポンシブデザイン
@media screen and (max-width:992px){

 .header {
   display: none;
 }

 #hm-icon {
   display: inline-block;
   position: fixed;
   right: 20px;
   top: 20px;
   z-index: 20;
 }

 .menu-trigger,
 .menu-trigger span {
   display: inline-block;
   transition: all .4s;
   box-sizing: border-box;
 }

 .menu-trigger {
   position: relative;
   width: 50px;
   height: 44px;
 }

 .menu-trigger span {
   position: absolute;
   left: 0;
   width: 100%;
   height: 4px;
   background-color: #000;
   border-radius: 4px;
 }

 .menu-trigger span:nth-child(1) {
   top: 0;
 }

 .menu-trigger span:nth-child(2) {
   top: 20px;
 }

 .menu-trigger span:nth-child(3) {
   bottom: 0;
 }

 .menu-trigger.active span:nth-child(1) {
   -webkit-transform: translateY(20px) rotate(-45deg);
   transform: translateY(20px) rotate(-45deg);
   background-color: #fff;
 }

 .menu-trigger.active span:nth-child(2) {
   opacity: 0;
 }

 .menu-trigger.active span:nth-child(3) {
   -webkit-transform: translateY(-20px) rotate(45deg);
   transform: translateY(-20px) rotate(45deg);
   background-color: #fff;
 }

 #sp-menu {
   position: fixed;
   top: 0;
   left: 0;
   background: #000;
   color: #fff;
   width: 100%;
   min-height: 100%;
   display: none;
   z-index: 11;
 }

 #sp-menu li {
   text-align: center;
   margin-bottom: 30px;
 }

 #sp-menu a {
   color: #fff;
   text-decoration: none;
   font-weight: bold;
 }

}