<%= link_to transition_path(notification) do %>
  <div>
    <%= link_to notification.subject.user.nickname, user_show_path(notification.subject.user) %>
    さんがあなたの
    <%= link_to "救世コメント", post_path(notification.subject.post_comment.post) %>
    を評価しました。
    <i class="far fa-clock clock-icon"></i><%= time_ago_in_words(notification.created_at) %>前
  </div>
<% end %>