<div class='container mt-5'>

  <!--ページタイトル-->
  <div class='row justify-content-center mb-5'>
    <h4><strong>退会確認画面</strong></h4>
  </div>

  <!--確認本文-->
  <div class='row justify-content-center mb-3'>
    <p>
      退会手続きを行うと、これまでの履歴が<strong>削除</strong>されます。<br>
      再度サービスを利用される場合は新規登録を行なっていただく必要があります。
    </p>
  </div>

  <div class='row justify-content-center mb-5'>
    <p>本当に退会しますか？</p>
  </div>

  <div class='row justify-content-center mb-5'>
    <%= link_to "退会する", withdraw_path, method: :patch, class: 'btn btn-danger mr-3', data: { confirm: "本当に退会しますか？" } %>
    <%= link_to "退会しない", user_show_path(@user), class: 'btn btn-info' %>
  </div>

</div>
